select {
    margin: 10px;
    width: 90%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

hr {
    margin-top: 100px;
}